const config = {
  locale: 'pt_BR', // en-US, zh-CN
  // url: baseUrl
  // ajaxUploadUrl: `${baseUrl}/admin/api/upload`,
  debug: {
    mock: false, // enable mock
    http: false // http request log
  },
  api: {
    url: `${process.env.VUE_APP_API_URL}`
  },
  session_refresh: {
    missing_minutes: 10
  },
  appName: process.env.VUE_APP_TITLE
}

global.config = config

export default config
